{% extends "base.leaderboad.html.jinja2" %}
{% block table_data %}
<thead>
    <tr class="tabletop-border">
    <th class="lborder dt-center">#</th>
    <th class="dt-center rborder"></th>
    <th class="dt-center">Author</th>
    <th class="dt-center">Model ID</th>
    <th class="dt-center">Budget</th>
    <th class="rborder dt-center">Set</th>
    <th class="center-label rborder">protosyntax</th>
    <th class="center-label rborder">lexical</th>
</tr>
</thead>
<tbody>
    {% for entry in leaderboard.data %}
        <tr data-entry-index="{{ entry.index }}">
            <td class="lborder dt-center"> {{ entry.index }} </td>
            <td class="details-control rboder">
                <!-- Hidden details div inside the cell -->
                <div class="hidden-details" style="display: none;">
                    <div style="padding: 20px; background-color: #f9f9f9;">
                        <strong>Model Details:</strong> {{ entry.publication.author_short }} <br>
                        <strong>Author:</strong> {{ entry.publication.authors }}<br>
                        <strong>Publication Title:</strong> {{ entry.publication.paper_title }}<br>
                        <strong>Paper URL:</strong> {{ entry.publication.paper_url }}<br>
                        <!-- Add any other details from your entry object -->
                        {% if entry.description %}
                            <strong>Description:</strong> {{ entry.description }}<br>
                        {% endif %}
                        {% if entry.publication.institution %}
                            <strong> Institution: </strong> {{ entry.publication.institution }}<br>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td class="dt-center"> {{ entry.publication.author_short }} </td>
            <td class="dt-center"> {{ entry.model_id }} </td>
            <td class="dt-center"> {{ entry.details.gpu_budget }} </td>
            <td class="rborder dt-center">dev<br>test</td>
            <!-- Scores -->
            <td class="rborder dt-center"> 
                {{ entry.scores.protosyntax["dev"].score }} <br>
                {{ entry.scores.protosyntax["test"].score }}
            </td>
            <td class="rborder dt-center"> 
                {{ entry.scores.lexical["dev"].score }} <br>
                {{ entry.scores.lexical["test"].score }}
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}

